.controls {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 16px;

  .expandButton {
    display: none;
  }

  .mobileLabel,
  .desktopLabel {
    font-size: 1rem;

    align-content: center;
  }

  .desktopLabel {
    display: none;
  }

  @media (orientation: portrait) {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      'button label stopwatch'
      'rate-counter rate-counter rate-counter';
    gap: 8px;

    &:not(.expanded) {
      grid-template-areas: 'button label stopwatch';

      .rateCounter {
        display: none;
      }
    }

    .expandButton {
      display: revert;
    }

    .rateCounter {
      grid-area: rate-counter;
    }

    .stopwatch {
      grid-area: stopwatch;
    }
  }

  @media (min-width: 768px) {
    .mobileLabel {
      display: none;
    }

    .desktopLabel {
      display: revert;
    }
  }
}
