.sectors {
  grid-row: span 1;

  display: flex;
  flex-wrap: wrap;

  margin: 0 var(--padding-normal);

  border: var(--border-size) solid var(--theme-color-border);
  background-color: var(--theme-color-foreground);
}
