.inputSkeleton {
  font-family: var(--font-silkscreen), Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;

  max-height: 1.75rem;
  width: 4rem;

  padding: var(--padding-normal);

  text-align: center;

  color: var(--theme-color-text);
  background: var(--theme-color-background);

  border: var(--border-size) solid var(--theme-color-border);

  opacity: 0.6;
  cursor: not-allowed;

  @media (pointer: coarse) {
    max-height: 1.6rem;
  }
}
