.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-normal);

  @media (min-width: 768px) {
    justify-content: revert;
  }

  & > label {
    display: none;

    @media (min-width: 768px) {
      display: revert;
    }
  }

  .time {
    display: inline;
    width: 3.375rem;
  }
}
