.page {
  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100vh; /* Fallback for older browsers */
  height: 100svh; /* Fits within visible screen on load */

  border: var(--border-size) solid var(--theme-color-border);

  .main {
    display: grid;
    grid-template-rows: subgrid;
  }
}
