.button {
  font-family: var(--font-silkscreen), Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;

  padding: var(--padding-normal);

  color: var(--theme-color-text);
  background: var(--theme-color-background);

  border: var(--border-size) solid var(--theme-color-border);

  transition: border-color 0.2s ease-in-out;

  &:focus-visible {
    outline: 1px solid var(--theme-color-border);
  }

  &:hover {
    transform: translate(-1px, -1px);
    box-shadow: 1px 1px 0 var(--theme-color-border);
  }

  &:active {
    &:not(:disabled) {
      border-color: var(--theme-color-foreground);
    }

    &:hover {
      transform: translate(0);
      box-shadow: revert;
    }
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;

    &:hover {
      box-shadow: revert;
      transform: revert;
    }
  }

  svg {
    display: block;
  }
}
