.input {
  font-family: var(--font-silkscreen), Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;

  max-height: 1.75rem;

  padding: var(--padding-normal);

  color: var(--theme-color-text);
  background: var(--theme-color-background);

  border: var(--border-size) solid var(--theme-color-border);

  transition: border-color 0.2s ease-in-out;

  @media (pointer: coarse) {
    max-height: 1.6rem;
  }

  &:focus {
    outline: 1px solid var(--theme-color-border);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
