.input {
  font-family: var(--font-silkscreen), Arial, sans-serif;

  padding: var(--padding-normal);

  color: var(--theme-color-text);
  background: var(--theme-color-background);

  border: var(--border-size) solid var(--theme-color-border);

  transition: border-color 0.2s ease-in-out;

  &:focus {
    outline: 1px solid var(--theme-color-border);
  }
}
