@keyframes punch-left {
  0% {
    transform: translate(-50%, -50%) rotateY(180deg) rotateZ(85deg);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotateY(180deg) rotateZ(-15deg);
    opacity: 1;
  }
}

@keyframes punch-right {
  0% {
    transform: translate(-50%, -50%) rotateZ(85deg);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(-15deg);
    opacity: 1;
  }
}

.sector {
  position: relative;

  flex-basis: 50%;
}

.leftUpper,
.leftLower {
  border-right: 1px solid var(--theme-color-border);
}

.rightUpper,
.rightLower {
  border-left: 1px solid var(--theme-color-border);
}

.leftUpper,
.rightUpper {
  border-bottom: 1px solid var(--theme-color-border);
}

.leftLower,
.rightLower {
  border-top: 1px solid var(--theme-color-border);
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;

  width: inherit;
  height: 80%;

  opacity: 0;

  @media (orientation: portrait) {
    width: 80%;
    height: inherit;
  }
}

@media (prefers-color-scheme: dark) {
  .image {
    filter: brightness(70%);
  }
}

.animated {
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

:is(.leftUpper, .leftLower) {
  .animated {
    animation-name: punch-left;
  }
}

:is(.rightUpper, .rightLower) {
  .animated {
    animation-name: punch-right;
  }
}
