@keyframes punch-left {
  100% {
    transform: translate(5%, 20%) rotateY(180deg) rotate(-15deg);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  @keyframes punch-left {
    100% {
      transform: translate(75%, 50%) rotateY(180deg) rotate(-15deg);
      opacity: 1;
    }
  }
}

@keyframes punch-right {
  100% {
    transform: translate(20%, 20%) rotate(-15deg);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  @keyframes punch-right {
    100% {
      transform: translate(25%, 50%) rotate(-15deg);
      opacity: 1;
    }
  }
}

.sector {
  flex-basis: 50%;
}

.leftUpper,
.leftLower {
  border-right: 1px solid var(--theme-color-border);
}

.rightUpper,
.rightLower {
  border-left: 1px solid var(--theme-color-border);
}

.leftUpper,
.rightUpper {
  border-bottom: 1px solid var(--theme-color-border);
}

.leftLower,
.rightLower {
  border-top: 1px solid var(--theme-color-border);
}

.image {
  width: 80%;
  height: 80%;

  opacity: 0;

  @media (min-width: 768px) {
    width: 50%;
    height: 50%;
  }
}

@media (prefers-color-scheme: dark) {
  .image {
    filter: brightness(70%);
  }
}

.animated {
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

:is(.leftUpper, .leftLower) {
  .image {
    transform: translate(5%, 20%) rotateY(180deg) rotate(85deg);

    @media (min-width: 768px) {
      transform: translate(50%, 50%) rotateY(180deg) rotate(85deg);
    }
  }

  .animated {
    animation-name: punch-left;
  }
}

:is(.rightUpper, .rightLower) {
  .image {
    transform: translate(20%, 20%) rotate(85deg);

    @media (min-width: 768px) {
      transform: translate(50%, 50%) rotate(85deg);
    }
  }

  .animated {
    animation-name: punch-right;
  }
}
